<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords"  content="{{ site.keyword }}">
  <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}">
  {% case page.layout %}
  {% when 'post' %}
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}">
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}">
  {% endif %}
  {% if page.author %}
  <meta property="article:author" content="{{ page.author }}">
  {% endif %}
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
  {% else %}
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% endcase %}
  <meta property="og:image" content="{{ site.url }}{{ site.avatar }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.SEOTitle }}">

<!--  <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>-->
  <title>{% if page.title %}{{ page.title }} {% if site.SEOTitle %}- {{ site.SEOTitle }}{% endif %}{% else %}{{ site.SEOTitle }}{% endif %}</title>

  <!-- Web App Manifest -->
  <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.png">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {%- include utils/get-cdn.html -%}
  {%- assign _cdn = __return -%}

  <!-- Bootstrap Core CSS -->
<!--  <link rel="stylesheet" href="{{ _cdn.bootstrap-css }}">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom Fonts -->
<!--  <link href="{{ _cdn.font-awesome }}" rel="stylesheet" type="text/css">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload = null; this.rel='stylesheet'">

  <!-- Font Awesome Animation -->
<!--  <link href="{{ _cdn.font-awesome-animation }}" rel="stylesheet" type="text/css" disabled>-->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/gungnir.css" | prepend: site.baseurl }}"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- ga & ba script hook -->
  <script></script>


<!--  {%- include utils/get-assets-baseurl.html -%}-->
<!--  {%- assign _assets_baseurl = __return -%}-->

  <!-- I have compressed all js dependencies into `lib.min.js.backup` using jsDelivr -->
<!--  <script src="{{ "/js/lib.min.js.backup" | prepend: _assets_baseurl }}"></script>-->
<!--  <script defer type="text/javascript" src="/js/gungnir/md5.js"></script>-->

<!--  <script src="https://cdn.jsdelivr.net/npm/jquery-slim@3.0.0/dist/jquery.slim.min.js" integrity="sha256-Rf4BadfyCtsvHmO89BUZcbYvNNvZvOT08ALfEzvCsD0=" crossorigin="anonymous"></script>-->
<!--  <script type="text/javascript" src="/js/gungnir/jquery-3.6.0.slim.min.js"></script>-->
<!--  <script type="text/javascript" src="/js/gungnir/cash.min.js"></script>-->
<!--  <script type="text/javascript" src="/js/gungnir/out.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fastclick@1.0.6/lib/fastclick.min.js" crossorigin="anonymous"></script>

  {% if page.title != Archive %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/scrollreveal@4.0.9/dist/scrollreveal.min.js" crossorigin="anonymous"></script>
  {% endif %}

<!--  <script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/mermaid@8.10.1/dist/mermaid.min.js" crossorigin="anonymous"></script>-->
<!--  <script type="text/javascript" src="https://github.com/Renovamen/jekyll-theme-gungnir/blob/main/js/lib/md5.js" crossorigin="anonymous"></script>-->
<!--  <script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/tocbot@4.10.0/dist/tocbot.min.js" crossorigin="anonymous"></script>-->
<!--  <script type="text/javascript" src="https://github.com/Renovamen/jekyll-theme-gungnir/blob/main/js/lib/jquery.tagcloud.js" crossorigin="anonymous"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/combine/npm/jquery@2.1.3/dist/jquery.min.js,gh/highlightjs/cdn-release@10.7.2/build/highlight.min.js,npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js,npm/fastclick@1.0.6/lib/fastclick.min.js,npm/tocbot@4.10.0/dist/tocbot.min.js,npm/anchor-js@4.3.1/anchor.min.js,gh/Renovamen/jekyll-theme-gungnir@main/js/lib/md5.js,npm/gitalk@1.7.2/dist/gitalk.min.js,npm/valine@1.4.14/dist/Valine.min.js,npm/chart.js@3.2.1/dist/chart.min.js,npm/mermaid@8.10.1/dist/mermaid.min.js,npm/simple-jekyll-search@1.9.2/dest/simple-jekyll-search.min.js,npm/scrollreveal@4.0.9/dist/scrollreveal.min.js,gh/Renovamen/jekyll-theme-gungnir@main/js/lib/jquery.tagcloud.js"></script>-->

</head>
