// catalog
.catalog-container {
}

.side-catalog {
  margin-left: 20px;

  &.fixed {
    position: fixed;
    top: 50px;
  }
  &.fold {
    .catalog-toggle::after {
      content: " (show)";
      position: relative;
      margin-right: 5px;
      font-size: 1rem;
      bottom: 1px;
      color: var(--body-gray);
    }
    .catalog-body {
      display: none;
    }

  }
  .catalog-toggle {
    color: var(--body-gray) !important;
    &::after {
      content: " (hide)";
      position: relative;
      margin-right: 5px;
      font-size: 1rem;
      bottom: 1px;
      color: var(--body-gray);
    }
  }
  display: block;
  overflow: hidden;
  height: 100%;
  padding-bottom: 40px;
  width: 240px;
  .catalog-body {
    position: relative;
    list-style: none;
    height: auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 5px;
    text-indent: 0;
    .toc-list {
      padding-left: 10px !important;
    }
    li {
      // position: relative;
      list-style: none;
      a {
        &.toc-link {
          color: var(--body-gray) !important;
        }
        &.is-active-link {
          color: var(--primary-color) !important;
        }
        padding-left: 0;
        max-width: 240px;
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .toc-link::before {
        background-color: var(--border-color);
      }
      .is-active-link::before {
        background-color: var(--primary-color) !important;
      }
    }
  }
}

@media (max-width: $MQLarge) {
  .side-catalog {
    @include transition(all ease 0.3s);
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: -2px;
    width: 40%;
    background-color: var(--bg);
    z-index: 5;
    font-size: 18px;
    overflow: scroll;
    display: inline;
    padding-top: 30vh;
    padding-bottom: 50%;
    align-items: center;
    height: 100%;
    &.open {
      @include transform(translateX(0));
      box-shadow: var(--mobile-catalog-shadow);
    }
    hr {
      display: none;
    }
    .catalog-toggle {
      display: none;
      pointer-events: none;
    }
    .catalog-body {
      .toc-list {
        padding-left: 15px !important;
        line-height: 5rem;

        width: 100%;
      }
      li {
        a {
          &.toc-link {
            color: var(--body-color) !important;
          }
          &.is-active-link {
            color: var(--primary-color) !important;
          }
          max-width: 100%;

        }
        .toc-link::before {
          opacity: 0;
        }
        .is-active-link::before {
          opacity: 1;
          background-color: var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: $MQIpad) {
  .side-catalog {
    @include transition(all ease 0.5s);
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: -2px;
    width: 384px;
    background-color: var(--bg);
    z-index: 5;
    font-size: 18px;
    overflow: scroll;
    display: inline-block;
    align-items: center;
    height: 100%;
    &.open {
      @include transform(translateX(0));
      box-shadow: var(--mobile-catalog-shadow);
    }
    hr {
      display: none;
    }
    .catalog-toggle {
      display: none;
    }
    .catalog-body {
      .toc-list {
        padding-left: 15px !important;
      }
      li {
        a {
          &.toc-link {
            color: var(--body-color) !important;
          }
          &.is-active-link {
            color: var(--primary-color) !important;
          }
          max-width: 100%;
        }
        .toc-link::before {
          opacity: 0;
        }
        .is-active-link::before {
          opacity: 1;
          background-color: var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: $MQSmall) {
  .side-catalog {
    @include transition(all ease 0.5s);
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: -2px;
    width: 320px;
  }
}
